@import "tailwindcss";

@font-face {
  font-family: 'Hubot Sans';
  src: url('/images/Fonts/HubotSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('/images/Fonts/HubotSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('/images/Fonts/HubotSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('/images/Fonts/HubotSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --color-brand-blue: #009ad7;
  --color-brand-yellow: #dae020;
  --color-brand-navy: #1b1464;
  --color-brand-light: #cccccc;

  --font-sans: "Hubot Sans", sans-serif;
  --font-heading: "Hubot Sans", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-slow {
  animation: gradient-move 8s ease infinite;
}